<div class="d-flex flex-column align-items-center justify-content-center border-bottom mb-5">
    <h3 class="text-black-50 pb-4">HOW DO WE WORK?</h3>
    <div>
        <img class="col-lg-6 float-lg-left mb-3 col-md-10 ml-md-5 ml-lg-0" src="http://via.placeholder.com/350x200" alt="...">
        <p class="mb-5 pr-3 pl-3">
            We meet each others in the weekend to together discuss the new technologies, programming skills, or event the softskills to help others develop more comprehensive. We also help give the orientation new members or new learners by our learning experiences to identify their study path and the effective way to learn programming. We are always welcome new members to come and talk/share with us regularly.
        </p>
    </div>    
</div>