<div class="d-flex flex-column align-items-center" style="height: 40rem">
    <div class="d-flex flex-column align-items-center">
            <h3 class="text-black-50 text-center col-lg-6 col-md-10 col-12">WHAT YOU NEED TO DO  TO PERFORM 'BEST' STATUS IN THIS GROUP?</h3>
            <p class="text-center col-lg-8 col-md-10 col-12">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus eum unde facere vero nulla ducimus nemo voluptate quod pariatur aliquam dignissimos aperiam, quas consectetur doloribus quisquam fugiat numquam modi ex.
            </p>
            <h5 class="mb-5">THANKS FOR YOUR FOLLOW!</h5>
    </div>
</div>