<div class="d-flex flex-column justify-content-center align-items-center border-bottom mb-5">
    <h3 class="text-black-50 text-center col-lg-6 col-md-10 col-12 mb-5">
        WHAT THINGS YOU GET FROM THIS GROUP?
    </h3>
    <div class="row">
        <%- include ./components/component1 %>
        <%- include ./components/component1 %>
        <%- include ./components/component1 %>
    </div>
</div>