<div class="d-flex flex-column justify-content-center align-items-center border-bottom mb-5">
    <h3 class="text-black-50">TEAM LEADER</h3>
    <div class="d-flex flex-md-row flex-column col-12 align-items-center justify-content-between mb-5 mt-5">
        <% teamLeaders.forEach(item => { %>
            <div class="card border-0 col-5 col-md-3 col-xl-2">
                <img src="<%= item.avatar %>" class="card-img-top rounded-circle" alt="...">
                <div class="card-body mt-4">
                    <h5 class="card-title text-center"><%= item.name %></h5>
                    <p class="card-text text-center"><%= item.job %></p>
                </div>
            </div>
        <% }) %>         
    </div>
</div>