
<div class="d-flex flex-column align-items-center justify-content-center border-bottom mb-5">
    <h3 class="text-black-50">WHO WE ARE?</h3>
    <p class="col-lg-8 text-center pt-4 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, molestiae velit quis facere aperiam eius nostrum autem exercitationem illum! Commodi sint repellat recusandae! Similique, nostrum unde soluta cumque suscipit dolore!</p>
    <img class="col-lg-8 col-md-10 mb-5" src="http://via.placeholder.com/800x400" alt="...">
</div>