<div class="d-flex flex-column align-items-center justify-content-center border-bottom mb-5">
        <h3 class="text-black-50 pb-4">WHAT DID WE DO?</h3>
        <div>
            <img class="col-lg-6 float-lg-right mb-3 col-md-10 ml-md-5 ml-lg-0" src="http://via.placeholder.com/350x200" alt="...">
            <p class="mb-5 pr-3 pl-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perferendis dolore beatae fugit eius nam harum dignissimos eos, molestiae iste odit soluta a, commodi quas nulla alias esse consectetur libero.
            </p>
        </div>    
    </div>