<div class="d-flex flex-column justify-content-center align-items-center border-bottom mb-5">
    <h3 class="text-black-50 text-center col-lg-6 col-md-10 col-12 mb-5">
        WHAT THINGS YOU GET FROM THIS GROUP?
    </h3>
    <div class="row">
        <% textContents[0].container5Contents.forEach(item => { %>
            <div class="p-2 col-lg-4 col-md-6 col-12 mb-5">
                <div class="card border border-danger">
                    <div class="card-body pr-3 pl-3 pt-4">
                        <h5 class="card-title text-center text-danger">
                            <%= item.title %>
                        </h5>
                        <p class="card-text">
                            <%= item.content %>
                        </p>
                    </div>
                </div>
            </div>  
        <% }) %>    
    </div>
</div>