
<div class="d-flex flex-column align-items-center justify-content-center border-bottom mb-5">
    <h3 class="text-black-50">WHO ARE WE?</h3>
    <p class="col-lg-8 text-center pt-4 pb-4">
        We are the self programming learners that have the same target to increase and widden our programming knowledge and connect other people to create a better learning environment. We are now not only a group but also a little family to help others to solve their problems or just simply make them feel better.
    </p>
    <img class="col-lg-8 col-md-10 mb-5" src="http://via.placeholder.com/800x400" alt="...">
</div>