<div class="d-flex flex-column justify-content-center align-items-center border-bottom mb-5">
    <h3 class="text-black-50 text-center col-lg-6 col-md-10 col-12">
        WHAT THINGS ARE REQUIRED WHEN YOU COME TO THIS GROUP?
    </h3>
    <div class="col">
        <% textContents[0].container6Contents.forEach(item => { %>
            <div class="col-12 mb-4 mt-4">
                <div class="card border-danger rounded-pill pl-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= item.title %>
                    </h5>
                    <p class="card-text">
                       <%= item.content %>
                    </p>
                </div>
                </div>
            </div>
        <% }) %>  
    </div>
</div>