
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="https://coders.tokyo">
            <img src="img/coders-tokyo-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Cần Thơ
        </a>
        <div class="collapse navbar-collapse ml-3" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>                
                <li class="nav-item float-right">
                    <a class="nav-link" href="/play">Play <span class="sr-only">(current)</span></a>
                </li>                
                <li class="nav-item float-right">
                    <a class="nav-link" href="/leaderboard">Leaderboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" href="/user">Members <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item float-right">
                    <a class="nav-link" href="/test">Test <span class="sr-only">(current)</span></a>
                </li> -->
            </ul>            
        </div>
    </nav>
</header>
<script src="js/header.js"></script>