<div class="p-2 col-lg-4 col-md-6 col-12 mb-5">
        <div class="card border border-danger">
            <div class="card-body pr-3 pl-3 pt-4">
                <h5 class="card-title text-center text-danger">
                    title
                </h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error incidunt harum dolor a ex! Corporis facere minus, totam iusto est repellat sit expedita ea aliquid accusamus id libero qui aspernatur.
                </p>
            </div>
        </div>
    </div>