<table class="table table-hover w-75 mx-auto mt-5">
    <thead>
        <tr>
            <th scope="col" colspan="2">Name</th>
            <th scope="col" colspan="3">Email</th>            
            <th scope="col" colspan="2">Phone</th>            
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>            
                <td colspan="2"><%= user.name %></td>
                <td colspan="3"><%= user.email %></td>                
                <td colspan="2"><%= user.phone %></td>                
            </tr>        
        <% }) %>        
    </tbody>
</table>