<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    <link rel="stylesheet" href="css/test.css">  
    <title>Test</title>
</head>
<body>
    <%- include ../layouts/header.ejs %> 
    <div class="question-list-wrapper mx-auto mt-5" style="width: 18rem;">
        <div class="card-header text-center">
            Questions list  
        </div>
        <div class="list-group question-list" id="question-items-wrapper">        
                        
        </div>
    </div>

    <div class="container-fluid w-50 bg-light mt-5 rounded clearfix">
        <h1 class="text-center">Test data</h1> 
        <button class="btn btn-primary mb-5 ml-5 float-right" id="init-button">Render</button>

        <!-- Topic Options -->
        <div class="form-group mx-auto" id="topic-options-wrapper">        
            <select class="form-control" id="topic-options">
                <option>Choose topic</option>
                <option>HTML</option>
                <option>JS</option>
                <option>CSS</option>
                <option>General</option>
                <option>Interviewing</option>
            </select>        
        </div>
    
        <!-- Topic range -->
        <div class="form-group mx-auto" id="topic-range-wrapper">        
            <select class="form-control" id="topic-range">
                <option value="1-20">1-20</option>
            </select>
        </div>

        <form action="/test" method="GET" id="question-form">
            <div id="data-wrapper">
                
            </div>
            <input 
                type="text" 
                name="answerIndex"
                id="index-button"
                hidden>
            <input 
                type="text" 
                name="nextQues"
                id="nextQues-button"
                value= <%= quesIndex+1 %>
                hidden>
            <div class="u-mb-1"></div>            
            <button class="button-submit btn btn-primary">Check</button>
            <div class="button-group float-right">
                <a href="#" id="prev-button" class="btn btn-warning">Back</a>            
                <a href="#" id="next-button" class="btn btn-warning">Next</a>                                          
            </div>
        </form>  
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/testHTML.js"></script>
</body>
</html>